.dashboard__container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.dashboard__course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--color-white);
  padding: 0.5rem 1.2rem;
  border-radius: var(--radius-3);
}

.dashboard__course-info {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}

.dashboard__course-thumbnail {
  width: 4rem;
  border-radius: var(--radius-1);
  overflow: hidden;
}

.dashboard__course-actions {
  display: flex;
  gap: 1rem;
}
