.logo {
  width: 2.5rem;
  display: flex;
}
.pro {
  border-radius: 50%;
}
nav {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #e1e4ff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 5px;
}

.nav__logo {
  width: 2.5rem;
  display: block;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  border-radius: 5px;
}
.nav__not {
  width: 2rem;
  height: 2rem;
}

.nav__toggle-btn {
  display: none;
}
