.nav {
  min-height: 4vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: auto;
}

.nav__notification {
  min-width: 4vw;
  width: 5vw;
}

.nav__language {
  min-width: 4vw;
  width: 5vw;
  color: #191c42;
}
