.form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.6rem 1rem;
  border-radius: var(--radius-1);
  resize: none;
}

.register,
.login {
  width: var(--color-white);
  margin-inline: auto;
  height: calc(100vh - 12rem);
  display: grid;
  place-items: center;
}
.register h2,
.login h2 {
  margin-bottom: 2rem;
}
.register small a,
.login small a {
  color: white;
}
.form-container {
  margin: 0px auto;
  width: 35%;
  padding: 30px;
  font-size: 20px;
  background-color: #1eb2cc;
  border-radius: 25px;
}
.background-image {
  background-image: url("/src/images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  margin-top: 6rem;
}
.password,
.Email {
  margin-bottom: 1rem;
}
.lo {
  margin-bottom: 1rem;
}
